.li-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
a {
  justify-content: center;
  text-decoration: none;
  color: black;
}
.card-project {
  background-color: white;
  margin: 40px;
  padding: 40px;
  width: 80%;
  height: 15%;
  text-align: center;
  display: flex;
  border-radius: 15px;
}

.logo-prj {
  width: 30%;
  height: auto;
  align-self: left;
  margin-right: 6px;
}

.list-component-container {
  display: flex;
}
.owner-photo {
  width: 40%;
}
.p-jobtitle {
  font-size: clamp(8px, 4vw, 14px);
}
.p-project-owner {
  font-size: clamp(8px, 4vw, 14px);
  width: 100%;
  flex-grow: 0;
  font-weight: bold;
  text-align: center;
  color: black;
}
.project-title {
  width: 100%;
  flex-grow: 0;
  margin: 12px 8px 0 16px;
  font-size: clamp(9px, 4vw, 24px);
  font-weight: 500;
  letter-spacing: normal;
  text-align: left;
  color: #000;
}
.project-slogan {
  width: 80%;
  flex-grow: 0;
  margin: 0 15px 15px 16px;
  font-size: clamp(8px, 4vw, 18px);
  font-weight: 500;
  text-align: left;
  color: #575757;
}

.project-description {
  width: 80%;
  flex-grow: 0;
  margin: 15px 0 15.5px 16.1px;
  font-size: clamp(7px, 4vw, 14px);
  letter-spacing: normal;
  text-align: justify;
  color: #3e3e3ee1;
}
.project-techs {
  width: 80%;
  flex-grow: 0;
  margin: 15px 0 15px 16px;
  font-size: clamp(7px, 4vw, 14px);
  font-weight: 500;
  text-align: left;
  color: #505050;
  display: flex;
  gap: 10%;
}
.techs-p {
  width: 75%;
}
.techs-logo {
  width: 25%;
}
